@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');


/* STYLING FOR THE HomePage.jsx */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    background-image: url('../src/assets/back.png');
    background-color: black;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    width: 100vw;
    height: 100vh;
    margin-top: -3.1%;
}



/* HEADER PART */
.container header h1 {
    margin-top: 3%;
    font-size: 50px;
    font-weight: bolder;
    padding: 10px;
    font-family: "Protest Strike", sans-serif;
    font-weight: 900;
    font-style: normal;
    position: relative;
    animation: slide 1s forwards;
}

.container header p {
    font-size: 20px;
    position: relative;
    animation: slideright 2s forwards;
}

.btn {
    margin: 2%;
    width: 130px;
    padding: 5px;
    border: 3px solid white;
    border-radius: 10px;
    color: black;
    background-color: rgba(240, 248, 255, 0.589);
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s ease;
    position: relative;
    animation: slide 3s forwards;
}

.btn:hover {
    background-color: white;
    color: black;
    border: 3px solid black;
    transform: scale(1.03);

}

.btn:active {
    transform: scale(1.1);
}

.container footer p {
    font-size: 20px;
    animation: slide 5s forwards;
}

@keyframes slide {
    0% {
        left: -100%;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes slideright {
    0% {
        right: -100%;
        opacity: 0;
    }

    100% {
        right: 0;
        opacity: 1;
    }
}