* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.postPage {
    background-image: none;
}

.postPage header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 47, 47);
    padding: 10px;
    color: white;
    font-weight: bold;
}

.postPage header h1 {
    font-size: 35px;
    /* border: 1px solid black; */
    width: 300px;
    margin-left: 30%;
    cursor: pointer;
}

.buttns {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 5%;
}

.buttns button {
    background-color: #0051ff;
    border-radius: 50px;
    width: 80px;
    height: 40px;
}

.buttns button:hover {
    background-color: white;
    color: red;
}


.posts {
    width: 1000px;
    height: 300px;
    background-color: lightgray;
    border: 1px solid lightsteelblue;
    border-radius: 15px;
    margin-top: 5%;
    margin-left: 22%;
    margin-bottom: 2%;
}

.main-container {
    display: flex;
    /* border: 1px solid red; */
    align-content: center;
    justify-content: space-evenly;
    padding: 10px;
    height: 200px;
    margin-top: 5%;
}

.like {
    background-color: white;
    color: rgb(248, 47, 47);
    border: 3px solid red;
    font-size: 18px;
    font-weight: 700;
    width: 100px;
    height: 40px;
    position: relative;
    left: 770px;
    top: -25px;
    border-radius: 10px;
}

.like:active {
    background-color: rgb(248, 47, 47);
    color: white;
    
}

.image {
    width: 280px;
    border-radius: 10px;
    margin-left: 10%;
    position: absolute;
    left: 20%;
    cursor: pointer;
}

.user {
    display: flex;
    justify-content: center;
}

.texts {
    width: 450px;
    /* border: 1px solid red; */
    font-size: larger;
    margin-left: 30%;
}

.texts span {
    font-weight: bold;
}

.new-post {
    background-color: rgb(248, 47, 47);
    color: white;
    font-size: 18px;
    font-weight: 700;
    width: 100px;
    height: 40px;
    position: absolute;
    left: 1245px;
    top: 12%;
    border-radius: 10px;
}

.new-post:hover {
    background-color: white;
    color: red;
    border: 3px solid red;
}

.update {
    background-color: green;
    color: white;
    font-size: 18px;
    font-weight: 700;
    width: 100px;
    height: 40px;
    position: relative;
    left: 750px;
    top: -25px;
    border-radius: 10px;
}

.update:hover {
    background-color: white;
    color: green;
    border: 3px solid green;
}


.delete{
    background-color: rgb(248, 47, 47);
    color: white;
    font-size: 18px;
    font-weight: 700;
    width: 100px;
    height: 40px;
    position: relative;
    left: 830px;
    top: -45px;
    border-radius: 10px;
}

.delete:hover {
    background-color: white;
    color: red;
    border: 3px solid red;
}



/* STYLING THE NEW POST PAGE  */

form {
    border: 2px solid red;
    background-color: red;
    color: white;
    border-radius: 20px;
    position: absolute;
    left: 35%;
    top: 8%;
    width: 450px;
}

form h1 {
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    text-align: center;
}

form input {
    border: 2px solid lightgrey;
    height: 40px;
    padding: 10px;
    margin-top: 4px;
    color: black;
}

.inputs {
    display: flex;
    flex-direction: column;
    padding: 13px;
    font-weight: 600;
}

.submit {
    background-color: blue;
    padding: 8px;
    width: 110px;
    border-radius: 10px;
    margin-left: 70%;
    margin-bottom: 4%;
    font-weight: 600;
}

.submit:hover {
    background-color: white;
    color: red;
    font-weight: 700;
}

.back {
    background-color: blue;
    width: 100px;
    height: 41px;
    border-radius: 10px;
    position: absolute;
    left: 6%;
    font-weight: 600;
}

.back:hover {
    background-color: white;
    color: red;
    font-weight: 700;
}